// $text: #d7f9fe;
// $secondary-text: #000000;
// $background: #011f23;
// $primary: #78e6fc;
// $secondary: #9a041d;
// $accent: #fac32e;


// @media (prefers-color-scheme: dark) {
//     $text: #012328;
//     $secondary-text: #d7f9fe;
//     $background: #dcfafe;
//     $primary: #037187;
//     $secondary: #fb657e;
//     $accent: #d19b05;
// }

$themes: (
  light: (
    text: #012328,
    secondary-text: #d7f9fe,
    background: #dcfafe,
    primary: #037187,
    secondary: #fb657e,
    accent: #d19b05,
  ),
  dark: (
    text: #d7f9fe,
    secondary-text: #012328,
    background: #011f23,
    primary: #78e6fc,
    secondary: #9a041d,
    accent: #fac32e,
  ),
);


$selected-theme: map-get($themes, light);

body {
  color: map-get($selected-theme, text);
  background-color: map-get($selected-theme, background);
}

@media (prefers-color-scheme: dark) {
  $selected-theme: map-get($themes, dark);

  body {
    color: map-get($selected-theme, text);
    background-color: map-get($selected-theme, background);
  }
}