$text: #030b1c;
$secondary-text: #ffffff;
$background: #c2d9ff;
$primary: #0f3a80;
$secondary: #be97ff;
$accent: #ff8800;


@media (prefers-color-scheme: dark) {
    $text: #e3ebfc;
    $secondary-text: #000000;
    $background: #00173d;
    $primary: #7faaf0;
    $secondary: #890059;
    $accent: #e6282f;
}